@model Manajemen_Produk.Models.Produk

<h2>Tambah Produk</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Nama Produk</label>
        <input asp-for="Nama" required />
    </div>
    
    <div>
        <label>Harga</label>
        <input asp-for="Harga" type="number" required />
    </div>

    <button type="submit">Simpan</button>
</form>

<a asp-action="Index">Kembali ke Daftar Produk</a>